<div class="summary-panel">
  <mat-card>
    <mat-card-content>
      <div class="flex__box">
        <div class="flex__item">
          <h4 i18n>Contacts</h4>
          <div>
            <span>Total: </span>
            <span>{{ summary.contacts.total }}</span>
            <span> / </span>
            <span>Used: </span>
            <span>{{ summary.contacts.used }}</span>
          </div>
        </div>
        <div>
          <a [routerLink]="['contacts']"
            ><span i18n>Details</span>
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="flex__box">
        <div class="flex__item">
          <h4 i18n>Applications</h4>
          <div>
            <span i18n>Total:</span>
            <span>{{ summary.applications.total }}</span>
            <span> / </span>
            <span>Used: </span>
            <span>{{ summary.applications.used }}</span>
          </div>
        </div>
        <div>
          <a [routerLink]="['applications']"
            ><span i18n>Details</span>
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="flex__box">
        <div class="flex__item">
          <h4 i18n>Authorizations</h4>
          <div>
            <span i18n>Total:</span>
            <span>{{ summary.authorizations.total }}</span>
            <span> / </span>
            <span i18n>Used:</span
            ><span> {{ summary.authorizations.used }}</span>
          </div>
        </div>
        <div>
          <a [routerLink]="['authorizations']"
            ><span i18n>Details</span>
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
