<div class="page">
  <header class="page__header">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <a [routerLink]="['..']">
              <mat-icon>chevron_left</mat-icon>
              <span i18n="title of applicatins page">Applications</span>
            </a>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <section class="page__body">
    <mat-card>
      <mat-card-content>
        <h2 i18n="title of application create page">New Application</h2>
        <application-form (result)="created()"></application-form>
      </mat-card-content>
    </mat-card>
  </section>
</div>
