<form [formGroup]="profile" (ngSubmit)="update(profile)" novalidate>
  <mat-form-field>
    <input
      matInput
      id="profileName"
      type="text"
      placeholder="name"
      name="name"
      formControlName="name"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-select id="profileGender" name="gender" formControlName="gender_id">
      <mat-option *ngFor="let gender of genders" [value]="gender.id">
        {{ gender.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      id="profileBirthday"
      type="date"
      placeholder="Birthday"
      name="birthday"
      formControlName="birthday"
    />
  </mat-form-field>
  <mat-form-field>
    <textarea
      matInput
      id="profileIntroduction"
      type="text"
      placeholder="Introduction"
      name="introduction"
      formControlName="introduction"
    ></textarea>
  </mat-form-field>
</form>
