<div class="page">
  <header class="page__header">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <mat-icon svgIcon="logo"></mat-icon>
            <span i18n>Feblr</span>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <section class="page__body">
    <mat-card>
      <mat-card-content *ngIf="authorization">
        <table>
          <tr>
            <td><span i18n>Request Application</span></td>
            <td>
              <p>{{ authorization.client_app.name }}</p>
            </td>
          </tr>
          <tr>
            <td><span i18n>Authorize Application</span></td>
            <td>
              <p>{{ authorization.server_app.name }}</p>
            </td>
          </tr>
          <tr>
            <td><span i18n>Priviledge</span></td>
            <td>
              <p>{{ authorization.scope.description }}</p>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button type="button" i18n>Cancel</button>
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="authorize()"
          i18n
        >
          Authorize
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
</div>
