<div class="page">
  <header class="page__header">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <mat-icon svgIcon="logo"></mat-icon>
            <span i18n>Feblr</span>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <section class="page__body">
    <mat-card>
      <mat-card-content>
        <div *ngIf="authorization.client_app">
          <p i18n>Request Application</p>
          <h4>{{ authorization.client_app.name }}</h4>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="authorization.server_app">
          <p i18n>Authorize Application</p>
          <h4>{{ authorization.server_app.name }}</h4>
        </div>
        <div *ngIf="authorization.scope">
          <p i18n>Priviledge</p>
          <h4>{{ authorization.scope.name }}</h4>
          <p>{{ authorization.scope.description }}</p>
        </div>
        <div>
          <button mat-button type="button" i18n>Cancel</button>
          <button
            mat-flat-button
            color="primary"
            type="button"
            (click)="authorize()"
            i18n
          >
            Authorize
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</div>
