<div class="page">
  <header class="page__header">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <a [routerLink]="['']">
              <mat-icon>chevron_left</mat-icon>
              <span i18n>Home</span>
            </a>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <section class="page__body">
    <users-list [users]="store.users"></users-list>
    <div *ngIf="store.total === 0" class="placeholder--list">
      <span i18n>No Users</span>
    </div>
    <mat-paginator
      *ngIf="store.total !== 0"
      [length]="store.total"
      [pageSize]="paginatorParams.limit"
      [pageSizeOptions]="pageSizeOptions"
      (page)="changePage($event)"
    >
    </mat-paginator>
  </section>
</div>
