<div class="page">
  <header class="page__header">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <a [routerLink]="['..']">
              <mat-icon>chevron_left</mat-icon>
              <span>Contacts</span>
            </a>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <section class="page__body">
    <mat-card>
      <mat-card-content>
        <mat-vertical-stepper #stepper>
          <mat-step
            label="New Contact"
            [editable]="this.steps[0].editable"
            [completed]="this.steps[0].completed"
          >
            <contact-form
              (success)="created($event)"
              (failure)="failure($event)"
            ></contact-form>
          </mat-step>
          <mat-step
            label="Verify Contact"
            [editable]="this.steps[1].editable"
            [completed]="this.steps[1].completed"
          >
            <p>Verify Your Email right Now</p>
            <div class="button-group">
              <div class="button-group-item">
                <button mat-button matStepperNext>Skip</button>
              </div>
              <div class="button-group-item">
                <button mat-flat-button color="primary" (click)="createToken()">
                  Verify
                </button>
              </div>
            </div>
          </mat-step>
          <mat-step
            label="Completed"
            [editable]="this.steps[2].editable"
            [completed]="this.steps[2].completed"
          >
            <p>Congractulation</p>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
  </section>
</div>
