<div class="page">
  <header class="page__header">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <a [routerLink]="['..']">
              <mat-icon>chevron_left</mat-icon>
              <span>Contacts</span>
            </a>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <section class="page__content">
    <mat-card>
      <mat-card-content>
        <h2>New Contact</h2>
        <contact-form (result)="created()"></contact-form>
      </mat-card-content>
    </mat-card>
  </section>
</div>
