<form [formGroup]="password" (ngSubmit)="update(password)" novalidate>
  <mat-form-field>
    <input
      matInput
      id="old-password"
      type="password"
      placeholder="old password"
      name="old_password"
      formControlName="old_password"
      i18n-placeholder
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      id="new-password"
      type="password"
      placeholder="new password"
      name="new_password"
      formControlName="new_password"
      i18n-placeholder
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      id="confirm-password"
      type="password"
      placeholder="confirm password"
      name="confirm_password"
      formControlName="confirm_password"
      i18n-placeholder
    />
  </mat-form-field>
  <div>
    <button mat-flat-button color="primary" i18n>Update Password</button>
  </div>
</form>
