<div class="page">
  <header class="page__header">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <a [routerLink]="['']">
              <mat-icon>chevron_left</mat-icon>
              <span i18n>Home</span>
            </a>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <section class="page__body">
    <mat-nav-list>
      <mat-list-item>
        <span matLine i18n>Profile</span>
        <a mat-icon-button [routerLink]="['/profile']">
          <mat-icon>edit</mat-icon>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matLine i18n>Change Password</span>
        <a mat-icon-button [routerLink]="['/password']">
          <mat-icon>edit</mat-icon>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <button
      class="signout-button"
      mat-raised-button
      color="warn"
      (click)="signOut()"
      i18n
    >
      Sign Out
    </button>
  </section>
</div>
