<table>
  <thead>
    <tr>
      <th class="text--left">Identity</th>
      <th class="text--right">Status</th>
      <th class="text--right"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td class="text--left">
        <span>{{ contact.identity }}</span>
        <img *ngIf="contact.status" class="icon" src="/assets/checked.svg" />
      </td>
      <td class="text--right">
        <span>{{ contact.status | contactState }}</span>
      </td>
      <td class="text--right">
        <button class="button button--danger" (click)="remove(contact)">Delete</button>
      </td>
    </tr>
    <tr *ngIf="contacts.length === 0">
      <td class="text--center" colspan="3">No contacts</td>
    </tr>
  </tbody>
</table>