<div class="page">
  <header class="page__header" *ngIf="summary">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <mat-icon svgIcon="logo"></mat-icon>
            <span i18n>Feblr</span>
          </div>
        </div>
        <div class="tools">
          <a [routerLink]="['settings']">
            <mat-icon>settings</mat-icon><span i18n>Settings</span>
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <div class="page__body">
    <div *ngIf="!summary">
      <div><img class="site__logo" src="/assets/logo.svg" /></div>
      <nav class="button-group">
        <a mat-stroked-button [routerLink]="['signin']" i18n>Sign In</a>
        <a mat-flat-button color="primary" [routerLink]="['signup']" i18n
          >Sign Up</a
        >
      </nav>
    </div>
    <div *ngIf="!!summary">
      <summary-panel [summary]="summary"></summary-panel>
    </div>
  </div>
</div>
