<header class="page__header">
  <h2 *ngIf="application" class="page__header__title">
    <a [routerLink]="['..']"><img src="/assets/arrow-left.svg" /></a>
    <span>{{ application.name }}</span>
  </h2>
</header>
<section class="page__content">
  <div class="section">
    <aside class="section__nav">
      <ul>
        <li><a class="aside__nav__link" [routerLink]="['basic']" routerLinkActive="aside__nav__link--active">Basic</a></li>
        <li><a class="aside__nav__link" [routerLink]="['scopes']" routerLinkActive="aside__nav__link--active">Scopes</a></li>
      </ul>
    </aside>

    <div class="section__details">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>