<div class="page">
  <header class="page__header">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <a [routerLink]="['..']">
              <mat-icon>chevron_left</mat-icon>
              <span>Applications</span>
            </a>
          </div>
        </div>
        <button mat-flat-button color="warn" (click)="remove(application)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <section class="page__body">
    <mat-card>
      <mat-card-content>
        <div class="flex__box"><mat-card-title>Basic</mat-card-title></div>
        <mat-divider></mat-divider>
        <application-basic [application]="application"></application-basic>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div class="flex__box">
          <mat-card-title class="flex__item">Scopes</mat-card-title>
          <a mat-flat-button color="primary" [routerLink]="['scopes/create']">
            <mat-icon>add</mat-icon>
          </a>
        </div>
        <mat-divider></mat-divider>
        <scopes-list [scopes]="scopes"></scopes-list>
        <div *ngIf="scopes.length === 0" class="placeholder--list">
          <span>No Scopes</span>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</div>
