<div class="page">
  <header class="page__header">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <a [routerLink]="['..']">
              <mat-icon>chevron_left</mat-icon>
              <span i18n="title of applicatins page">Applications</span>
            </a>
          </div>
        </div>
        <button mat-flat-button color="warn" (click)="remove(application)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <section class="page__body">
    <mat-card>
      <mat-card-content>
        <div class="flex__box">
          <mat-card-title i18n="title of application basic information"
            >Basic</mat-card-title
          >
        </div>
        <mat-divider></mat-divider>
        <application-basic [application]="application"></application-basic>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div class="flex__box">
          <mat-card-title class="flex__item" i18n="title of secrets"
            >Secrets</mat-card-title
          >
          <button mat-flat-button color="primary" (click)="createSecret()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
        <secrets-list
          [secrets]="secrets"
          (remove)="removeSecret($event)"
        ></secrets-list>
        <div *ngIf="secrets.length === 0" class="placeholder--list">
          <span i18n="hint for no secrets">No Secrets</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div class="flex__box">
          <mat-card-title class="flex__item" i18n="title of scopes"
            >Scopes</mat-card-title
          >
          <a mat-flat-button color="primary" [routerLink]="['scopes/create']">
            <mat-icon>add</mat-icon>
          </a>
        </div>
        <mat-divider></mat-divider>
        <scopes-list
          [scopes]="scopes"
          (remove)="removeScope($event)"
        ></scopes-list>
        <div *ngIf="scopes.length === 0" class="placeholder--list">
          <span i18n="hint for no scopes">No Scopes</span>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</div>
