<div class="authorizations-list">
  <mat-card *ngFor="let authorization of authorizations">
    <mat-card-content>
      <div class="flex__box">
        <div class="flex__item">
          <h4>{{ authorization.client_app.name }}</h4>
          <table>
            <tbody>
              <tr>
                <td i18n>Server App</td>
                <td>{{ authorization.server_app.name }}</td>
              </tr>
              <tr>
                <td i18n>Scope</td>
                <td>{{ authorization.scope.name }}</td>
              </tr>
              <tr>
                <td i18n>Description</td>
                <td>{{ authorization.scope.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <button
            mat-flat-button
            color="primary"
            (click)="revoke(authorization)"
            i18n
          >
            Revoke
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
