<div class="page">
  <header class="page__header">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <a [routerLink]="['/settings']">
              <mat-icon>chevron_left</mat-icon>
              <span i18n>Settings</span>
            </a>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <section class="page__body">
    <password-form
      (success)="onPasswordUpdateSuccess($event)"
      (failure)="onPasswordUpdateFailure($event)"
    ></password-form>
  </section>
</div>
