<table mat-table [dataSource]="invitations">
  <ng-container matColumnDef="code">
    <td mat-cell *matCellDef="let invitation">{{ invitation.code }}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <td mat-cell *matCellDef="let invitation">{{ invitation.status }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <td mat-cell *matCellDef="let invitation">
      <button
        mat-flat-button
        color="warn"
        (click)="removeInvitation(invitation)"
      >
        <span i18n>Delete</span>
      </button>
    </td>
  </ng-container>
  <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
</table>
