<div class="page">
  <header class="page__header">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <a [routerLink]="['']">
              <mat-icon>chevron_left</mat-icon>
              <span>Home</span>
            </a>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <section class="page__body">
    <authorizations-list
      [authorizations]="authorizations"
      (action)="handleAction($event)"
    ></authorizations-list>
    <div *ngIf="authorizations.length === 0" class="placeholder--list">
      <span>No Authorizations</span>
    </div>
  </section>
</div>
