<div class="page">
  <header class="page__header">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="flex__item">
          <div class="tools">
            <a [routerLink]="['']">
              <mat-icon>chevron_left</mat-icon>
              <span>Home</span>
            </a>
          </div>
        </div>
        <a [routerLink]="['create']" mat-flat-button color="primary">
          添加联系方式<mat-icon>add</mat-icon>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <section class="page__body">
    <contacts-list
      [contacts]="contacts"
      (action)="handleAction($event)"
    ></contacts-list>
    <div *ngIf="contacts.length === 0" class="placeholder--list">
      <span>No Contacts</span>
      <a mat-button [routerLink]="['create']" color="primary">添加联系方式</a>
    </div>
  </section>
</div>
