<table mat-table [dataSource]="secrets">
  <ng-container matColumnDef="client_id">
    <td mat-cell *matCellDef="let secret">{{ secret.client_id | mask: 4 }}</td>
  </ng-container>
  <ng-container matColumnDef="client_secret">
    <td mat-cell *matCellDef="let secret">
      {{ secret.client_secret | mask: 4 }}
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <td mat-cell *matCellDef="let secret">{{ secret.status }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <td mat-cell *matCellDef="let secret">
      <button mat-flat-button color="warn" (click)="removeSecret(secret)">
        <span i18n>Delete</span>
      </button>
    </td>
  </ng-container>
  <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
</table>
