/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-size: 20px;

  background: #f9f9f9;
}

.page {
  display: block;
  margin: 0 auto;

  width: 48rem;
  max-width: 100%;
}

.page__header {
}

.page__body {
  padding: 1rem 0;
}

.section {
}

.section__header {
}

.section__body {
}

.site__logo {
  display: block;
  margin: 4rem auto;
  padding: 1rem;

  width: 8rem;
}

.flex__box {
  display: flex;
}

.flex__item {
  flex: 1;
}

.tools span,
.tools .mat-icon {
  vertical-align: middle;
}

.tools span {
  margin-left: 0.5rem;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group-item {
  display: flex;

  padding: 0 0.5rem;
}

.button-group-item:first-child {
  padding-left: 0;
}

.button-group-item:last-child {
  padding-right: 0;
}

.placeholder--list {
  padding: 5rem;
  text-align: center;

  vertical-align: middle;
}
