<form class="form" [formGroup]="verification" (ngSubmit)="verify(verification)" novalidate>
  <div class="form__field">
    <label class="form__field__label">Email</label>
    <select class="form__field__control" name="contact_id" formControlName="contact_id">
      <option *ngFor="let contact of contacts" [value]="contact.type_id">{{contact.identity}}</option>
    </select>
  </div>

  <div class="form__field">
    <button class="button button--primary" [disabled]="!verification.valid">Verify</button>
  </div>
</form>