<form [formGroup]="application" (ngSubmit)="create(application)" novalidate>
  <mat-form-field>
    <input
      matInput
      id="applicationName"
      type="text"
      placeholder="name"
      name="name"
      formControlName="name"
      i18n-placeholder="application name"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="url"
      id="applicationWebsiteUri"
      placeholder="website uri"
      name="website_uri"
      formControlName="website_uri"
      i18n-placeholder="application website"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="url"
      id="applicationCallbackUri"
      placeholder="callback uri"
      name="callback_uri"
      formControlName="callback_uri"
      i18n-placeholder="application callback uri"
    />
  </mat-form-field>

  <div class="button-group">
    <div class="button-group-item">
      <a
        mat-stroked-button
        [routerLink]="['..']"
        i18n="title of cancel button in application create form"
        >Cancel</a
      >
    </div>
    <div class="button-group-item">
      <button
        mat-flat-button
        color="primary"
        [disabled]="!application.valid"
        i18n="title of submit button in application create form"
      >
        Create
      </button>
    </div>
  </div>
</form>
