<div class="applications-list">
  <mat-card *ngFor="let application of applications">
    <mat-card-content>
      <div class="flex__box">
        <div class="flex__item">
          <h4>{{application.name}}</h4>
          <table>
            <tbody>
              <tr>
                <td>Website URL</td>
                <td>{{application.website_uri}}</td>
              </tr>
              <tr>
                <td>Callback URL</td>
                <td>{{application.callback_uri}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <a [routerLink]="[application.id]">
            <span>Details</span>
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>