<div>
  <table *ngIf="application">
    <thead>
      <tr></tr>
    </thead>
    <tbody>
      <tr>
        <td i18n="application name">Name</td>
        <td>{{ application.name }}</td>
      </tr>
      <tr>
        <td i18n="application website">Website</td>
        <td>
          <a [href]="application.website_uri" target="_blank">{{
            application.website_uri
          }}</a>
        </td>
      </tr>
      <tr>
        <td i18n="application redirect uri">Redirect Uri</td>
        <td>{{ application.callback_uri }}</td>
      </tr>
    </tbody>
  </table>
</div>
