<div>
  <table *ngIf="application">
    <thead>
      <tr></tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{ application.name }}</td>
      </tr>
      <tr>
        <td>Website</td>
        <td>
          <a [href]="application.website_uri" target="_blank">{{
            application.website_uri
          }}</a>
        </td>
      </tr>
      <tr>
        <td>Client Id</td>
        <td>
          <copy-text-span [text]="application.client_id">
            <span>{{ application.client_id | mask: 4 }}</span>
          </copy-text-span>
        </td>
      </tr>
      <tr>
        <td>Client Secret</td>
        <td>
          <copy-text-span [text]="application.client_secret.Plaintext">
            <span>{{ application.client_secret.Plaintext | mask: 4 }}</span>
          </copy-text-span>
        </td>
      </tr>
      <tr>
        <td>Redirect Uri</td>
        <td>{{ application.callback_uri }}</td>
      </tr>
    </tbody>
  </table>
</div>
