<form [formGroup]="scope" (ngSubmit)="create(scope)" novalidate>
  <mat-form-field>
    <input
      matInput
      id="scopeName"
      type="text"
      placeholder="name"
      name="name"
      formControlName="name"
      i18n-placeholder
    />
  </mat-form-field>
  <mat-form-field>
    <textarea
      matInput
      id="scopeDescription"
      type="text"
      placeholder="description"
      name="description"
      formControlName="description"
      i18n-placeholder
    ></textarea>
  </mat-form-field>
  <div class="button-group">
    <div class="button-group-item">
      <button mat-flat-button color="primary" i18n>Save</button>
    </div>
  </div>
</form>
