<header>
  <h4>
    <a [routerLink]="['..']"><img src="/assets/arrow-left.svg" /></a>
    <span>New Scope</span>
  </h4>
</header>

<form [formGroup]="scope" (ngSubmit)="create(scope)" novalidate>
  <div>
    <label>Name</label>
    <input type="text" placeholder="name" name="name" formControlName="name" />
  </div>
  <div>
    <label>Description</label>
    <input type="text" placeholder="description" name="description" formControlName="description" />
  </div>

  <div>
    <a [routerLink]="['..']">Cancel</a>
    <button [disabled]="!scope.valid">Create</button>
  </div>
</form>