<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <style>
    .text--center {
      text-align: center;
    }
  </style>
</head>

<body>
  <p class="text--center">{{ welcome }}</p>
</body>

</html>